/* drag-n-drop reorder */

.gallery6k_section {
	padding:1em 0;
	margin:0 0 1em;
	border-bottom:1px dashed #999;
	line-height: 1.5;
}
.gallery6k_section.double {
	border-top:1px dashed #999;
}

.gallery6k_right {
	float: right;
}

#gallery6k_management_content.loading:before {
	content: " ";
	position: absolute;
	display: block;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
}
#gallery6k_management_content.loading:after {
	content: " refreshing content ";
	position: absolute;
	top:40%;
	left:0;
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size: 2em;
	color:#fff;
}

.gallery6k_clearfix:after {
	content: " ";
	float: none;
	position: relative;
	display: table;
	clear: both;
}

.gallery6k_reorder {
	position: relative;
	float:left;
	clear:none;
	width:24%;
	padding:24% 0 0;
	margin:0.5%;
	transition: opacity 0.3s;
	background-repeat: no-repeat;
	background-position: center center;
	background-color:#eee;
	background-size: cover;
}
.gallery6k_reorder.ui-state-highlight {
	background:pink;
	height: 0 !important;
	min-height: 0 !important;
	border:0px none;
}

.gallery6k_edit_mode_rel_wrap {
	position: relative;
	display: block;
	overflow: visible;
}

.gallery6k_edit_link {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0.5%;
	width: 99%;
	padding: 5px;
	background :rgba(0,0,0,0.85);
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
	max-height: 0%;
	opacity: 0;
	transition:all 0.3s 1s;
}
	
	.gallery6k_reorder:hover .gallery6k_edit_link {
		opacity: 1;
		max-height: 4em;
	}


.gallery6k_blocky {
	position: relative;
	display: block;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

.gallery6k_elipsis {
	text-overflow: elipsis;
}

@media only screen and (max-width: 900px) {
	.gallery6k_reorder {
		width:24%;
		padding-top:24%;
	}
}

/* bulk edit */

#media6k_bulk_edit_page {
	padding-top: 42px;
}

.media6k_table {
	width:100%;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom:1px solid rgba(0,0,0,0.15);
}
.media6k_table thead,
.media6k_table tfoot {
	background: #cfcfcf;
	color:#fff;
}
.media6k_table th,
.media6k_table td {
	padding:10px;
	line-height: 1.5;
}
.media6k_table tbody tr {
	border-bottom: 1px solid #999;
}
.media6k_table tbody tr:nth-child(even) {
	background:#e9e9e9;
	border-bottom: 1px
}
.media6k_table tbody td {
	vertical-align: top;
	border-bottom:1px solid rgba(0,0,0,0.15);
}
.media6k_table .inner_row + .inner_row {
	padding-top:0.5em;
	border-top:1px dotted rgba(0,0,0,0.25);
	margin-top:1em;
}

.media6k_table .form_row {
	position: relative;
	transition: 0.5s;
	opacity: 1;
	pointer-events: all;
}
.media6k_table .form_row.saving {
	opacity: 0.1;
	pointer-events: none;
}

#media6k_bulk_edit_fixed_nav {
	position: fixed;
	display: block;
	top:32px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 5000;
}	
	
	#media6k_bulk_edit_fixed_nav tr,
	#media6k_bulk_edit_fixed_nav th {
		position: relative;
		display: block;
	}

	#media6k_bulk_edit_fixed_nav th {
		display: inline-block;
	}

.textcenter { text-align: center; }
.textright { text-align: right; }
.textleft { text-align: left; }
.media6k_table input[type="text"],
.media6k_table select,
.media6k_table label,
.media6k_table textarea {
	position:relative;
	display:block;
	width:90%;
}

.media6k_remove_tag,
.media6k_add_tag {
	position: relative;
	display: inline-block;
}

.media6k_remove:before,
.media6k_add:before {
	content: '–';
	display: inline-block;
	background:rgba(0,0,0,0.2);
	padding:0 5px 2px;
	margin: 5px;
	border-radius: 100%;
	color:#fff;
	line-height: 1.15;
}
.media6k_add:before {
	content: "+";
}

.media6k_right {
	float: right;
	clear: none;
}

.media6k_pagination {
	padding:0;
	text-align: right;
}
.media6k_pagination a,
.media6k_pagination span {
	font-size: 1.25em;
	display: inline-block;
	padding:0.5em 0.35em;
	vertical-align: middle;
	line-height: 1;
}

.media6k_modal {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	padding:30px 0px;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
	overflow: auto;
}

	.media6k_modal.media6k_hidden {
		display: none;
	}
	
	.media6k_rel_wrap {
		position: relative;
		margin:0 auto;
		max-width: 960px;
		overflow: auto;
	}
		.media6k_rel_wrap > div {
			margin-bottom: 1em;
		}
		
	.media6k_modal_close {
		padding:5px 10px;
		font-size: 1.5em;
		line-height: 1;
		background: #fff;
		cursor: pointer;
		display: inline-block;
	}
	
	.media6k_modal_content {
		padding:10px;
		background: #fff;
	}

.media6k_multi_edit th {
	background: rgba(0,0,0,0.25);
}
	.media6k_multi_edit thead th {
		font-size: 1.25em;
	}
	.media6k_multi_edit tfoot th {
		background:#fff;
	}

.media6k_multi_edit img {
	display: inline-block;
	margin:0 5px 5px 0;
}

.padR {
	padding-right: 1em;
}

.gallery6k_abs-tr {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
.gallery6k_abs-tl {
	position: absolute;
	top: 0;
	left: 0;
}
.gallery6k_abs-tr > * {
	display: block;
}

.gallery6k-item_settings {
	padding: 2.5px;
}
.gallery6k-item_settings > * {
	font-size: 12px;
	margin: 2.5px !important;
	display: inline-block;
}

.button.gallery6k_remove {
	color: red;
	background:pink;
	border: 1px solid red;
}

.w1 { width: 1em; }
.w2 { width: 2em; }
.w3 { width: 3em; }
.w4 { width: 4em; }
.w5 { width: 5em; }
.w6 { width: 6em; }
.w7 { width: 7em; }
.w8 { width: 8em; }
.w9 { width: 9em; }
.w10 { width: 10em; }
.w15 { width: 15em; }
.w17 { width: 17em; }
.w20 { width: 20em; }
.w21 { width: 21em; }